header{
    background:rgb(42, 0, 53);

}
.titulo-principal{
    font-family:serif;
    padding-left: 20px;
    font-style: oblique;
    color: white;
    display: inline-block;
    
}

.subtitulo{
    font-family: serif;
    padding-left: 20px;
    font-style: italic;
    color: rgb(255, 244, 244);
    display: inline-block;
    padding-left: 1100px;
}