*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 252, 244);
}

.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.titulo-principal{
    font-family:serif;
    color: #000000;
    display: inline;
    flex:1;
    text-align: center;
    font-style: italic;
}

.subtitulo{
    font-family: serif;
    padding-left: 20px;
    font-style: italic;
    color: #000000;
    display: inline;
    font-size: 20px;
    flex:1;
    text-align: center;
}

.nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-around;
    text-transform: uppercase;
    flex: 3;
    text-decoration: none;
    color:black;
}

.nav a{
    color:black;
    text-decoration: none;
}

.nav a:hover{
    color:teal
}

#foto{
    width: 100%;
    background-color: rgb(255, 252, 244);

}

.box2{
    text-align: left;
    background-color: #ececec00;
    margin-top: 20px;
    padding: 30px;
    color: transparent;
}


.box2 h2{
    color: teal;
    font-size: 28px;
    font-family: candara;
    text-transform: uppercase;
}

.sobre{
    color:rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 22px;
}

.box3 {
    text-align: left;
    
    margin-top: 27px;
    padding: 30px;
    color: transparent;
}

.box3 h2{
    color: teal;
    font-size: 27px;
    font-family: candara;
    text-transform: uppercase;

}
.descricao{
    color: black;
    margin-top: 20px;
    font-size: 22px;
}

footer{
    text-align: center;
    padding: 40px 0;
}

.fab, .fa-linkedin-in{
    color:black;
}

.fab, .fa-github{
    color:black;
}

.feito{
    color:black;
    font-size: 14px;
    font-family: monospace;
    margin-top: 10px;
    margin-block-end: 20px;
}